.PeterGraph {
  height: 100%;
  background-color: hsl(0, 0%, 11%);
}

.menu-button{
  display: grid;
  align-items: center;
  justify-items:center;
  position:absolute;
  margin-top: 50px;
  margin-left: 10px;
  border-radius: 20%;
  background-color: hsl(0, 0%, 35%);
  color: hsla(0, 0%, 99%, 1);
  border:none;
  height: 30px;
  cursor: pointer;
  width: 30px;
  z-index: 100;
}

.addToGraph{
  position: absolute;
  z-index: 150;
  margin-top: 95px;
  margin-left: 10px
}

.inGraphSearch{
  position: absolute;
  z-index: 150;
  margin-top: 140px;
  margin-left: 10px;
}

.fit-button{
  display: grid;
  align-items: center;
  justify-items:center;
  position:absolute;
  margin-top: 185px;
  margin-left: 10px;
  border-radius: 20%;
  background-color: hsl(0, 0%, 35%);
  color: hsla(0, 0%, 99%, 1);
  border:none;
  height: 30px;
  cursor: pointer;
  width: 30px;
  z-index: 100;
}

.reset-button{
  display: grid;
  align-items: center;
  justify-items:center;
  position:absolute;
  margin-top: 230px;
  margin-left: 10px;
  border-radius: 20%;
  background-color: hsl(0, 0%, 35%);
  color: hsla(0, 0%, 99%, 1);
  border:none;
  height: 30px;
  cursor: pointer;
  width: 30px;
  z-index: 100;
}


.graph-wrapper{
  height: 100%;
}

#small-button, #small-button-label{
  position:absolute;
  z-index: 100;
  margin-top: 25px;
  color: white;
}

#large-button, #large-button-label{
  position:absolute;
  z-index: 100;
  margin-top: 50px;
  color:white;
}

.header-audio{
  text-align: right;
  color: #7299fc;
  margin:0%;
}

.header-graph{
  margin: 0%;
}

.header-wrapper{
  width: 100%;
  position:absolute;
  z-index: 100;
  font-size: 1.5rem;
  display:grid;
  grid-template-columns: 50% 50%;
}