body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

div[id="root"] {
  height: 100%;
}

.app {
  height: 100%;
}

.graph {
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: top;
}

.search-and-graph-table {
  display: table;
  height: 100%;
}

.search-and-graph-row {
  display: table-row;
  height: 100%;
}

.search-bar {
  display: table-cell;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
