.PeterGraph {
  height: 100%;
  background-color: hsl(0, 0%, 11%);
}

.testNewButton{
  position: absolute;
  z-index: 100;
  margin-top: 25px;
  margin-left: 10px;
}

.addToGraph{
  position: absolute;
  z-index: 100;
  margin-top:70px;
  margin-left: 10px
}

.inGraphSearch{
  position: absolute;
  z-index: 100;
  margin-top: 115px;
  margin-left: 10px;
}


.graph-wrapper{
  height: 100%;
}

#small-button, #small-button-label{
  position:absolute;
  z-index: 100;
  margin-top: 25px;
  color: white;
}

#large-button, #large-button-label{
  position:absolute;
  z-index: 100;
  margin-top: 50px;
  color:white;
}