.search-input {
  background-color: #f8f8ff;
  float: left;
  width: 100%;
  outline-style: none;
  border-style: none;
  font-size: 16px;
  padding-left: 1%;
  margin: 0%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.input-suggestion {
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin: 0%;
  padding-left: 1%;
  z-index: 200;
  height: 30px;
  /* display: block; */
}

.input-suggestion.blank{
  border-bottom:black
}

.input-suggestion-active {
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin: 0%;
  padding-left: 1%;
  background-color: #d4d4d4;
  z-index: 200;
  height: 30px;
  /* display: block; */
}

#suggestion0 {
  border-top: black;
}

.search-box {
  display:inline-block;
  opacity: 0;
  border-color: #a3a3a3;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  padding: 0px;
  margin: 2px;
  overflow: hidden;
  width: 0px;
  background-color: #f8f8ff;
  color: black;
  transition: width 0.15s, opacity 0.15s;
  pointer-events: none;
  position: absolute;
  z-index: 150;
}

.boxAndIcon{
  white-space: nowrap;
}

.search-box:focus-within{
  opacity: 1;
  width: 250px;
  pointer-events:inherit;
}

.button{
  vertical-align: top;
  background-color: hsl(0, 0%, 35%);
  color: hsla(0, 0%, 99%, 1);
  border:none;
  border-radius: 20%;
  height: 30px;
  cursor: pointer;
  width: 30px;
}

button:hover{
  background-color: hsl(0, 0%, 30%);
}