iframe{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
}

.chevronWrapper{
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    background-color: hsl(0, 0%, 35%);
    display: block;
    margin-left: 270px;
    color: hsla(0, 0%, 99%, 1);
    border:none;
    height: 30px;
    cursor: pointer;
    width: 30px;
}

.spotifyEmbed{
    margin-left: 50px;
}